

.logo {
  block-size: 100px;
}

.navTabs {
  color: purple;
}

.navTabs:hover {
  font-weight: bold;
  color: purple;
}

.loginSignup {
  font-size: large;
  font-weight: bold;
  color: purple;
}

body {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: purple;
  color: white;
}